@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #f3f4f6;
  --foreground: #171717;
  --borderColor: #7dd3fc;
}

.dark {
  --background: #1f2937;
  --foreground: #d1d5db;
  --borderColor: #508de9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width:100vw;
  overflow-x:hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  --darkGray: #111827;
}
